* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  color: #ffffff;
  background-color: #2c2c2c;
  font-family: 'Gaegu', cursive;
  font-size: 1.2rem;
}

h1 {
  font-size: 3rem;
  margin: 1rem 0;
}

header {
  position: fixed;
  display: block;
  z-index: 30;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  transition: transform 500ms, opacity 500ms;
}

ul.menu {
  display: inline-block;
  vertical-align: middle;
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  text-align: center;
}

ul.menu > li {
  display: inline-block;
  margin-right: 30px;
  position: relative;
}

ul.menu > li:last-child {
  margin-right: 0;
}

ul.menu > li > a {
  display: block;
  position: relative;
  padding-top: 0px;
  padding-bottom: 1rem;
  line-height: 1.2rem;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}

ul.menu > li > a::after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 1px;
  margin-top: 1.2rem;
  content: "";
  background-color: #ffffff;
  transition: 0.3s all;
}

ul.menu > li.active > a::after,
ul.menu > li > a:hover::after {
  width: 100%;
  margin-left: 0;
}

.section,
.section .slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.fp-controlArrow {
  margin-top: -3rem;
}

.fp-controlArrow.fp-prev {
  left: 0.5rem;
  border: none;
}

.fp-controlArrow.fp-prev::after {
  content: "←";
  font-size: 3rem;
}

.fp-controlArrow.fp-next {
  right: 0.5rem;
  border: none;
}

.fp-controlArrow.fp-next::after {
  content: "→";
  font-size: 3rem;
  margin-left: -3rem;
}

.fp-tableCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section .container,
.slide .container {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 80%;
  margin-top: 2rem;
  text-align: center;
}

.slide .caption {
  align-self: flex-end;
  width: 100%;
  background-color: rgba(33, 33, 33, 0.5);
  padding: 0.4rem 0;
  text-align: center;
}

input,
textarea {
  width: 100%;
  min-width: 200px;
  max-width: 100%;
  margin: 0.5rem 0;
  padding: 0.85rem 1rem;
  outline: medium none;
  border: none;
  border-radius: 0.1rem;
  box-shadow: none;
  background: rgb(225, 225, 225);
  color: #2c2c2c;
  font-family: 'Gaegu', cursive;
  font-size: 1rem;
  line-height: 1;
  text-align: left;
  transition: all 0.2s ease-in-out;
}

form {
  margin: 0 auto;
  width: 60%;
}

form .form-notice {
  width: auto;
  margin: 0;
  font-style: italic;
  text-align: right;
}

button,
.button {
  display: inline-block;
  margin: auto;
  padding: 0.4em 2em;
  border: 0.1rem solid white;
  border-radius: 0.1rem;
  background: transparent;
  color: white;
  font-family: 'Gaegu', cursive;
  font-size: 1.2rem;
  font-weight: 500;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  color: rgb(30, 30, 30);
  background: white;
}

section {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 75%;
  background-color: rgba(44, 44, 44, 0.8);
  padding: 1.5rem 2rem;
}

.notice {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

/* responsiveness */
@media only screen and (max-width: 600px) {
  ul.menu {
    display: none;
  }
}
